<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MerkaChecheres-Inicio</title>
    <link rel="stylesheet" href="/css/styleAdmin.css">
</head>
<body>
    <h1>Bienvenido al Index</h1>
    <p>Futuramente se verá el Index.</p>
    <a href="/usuarios">Ir a la lista de usuarios</a>
</body>
</html>
