<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Listar Usuario - Admin</title>
  <link rel="stylesheet" href="/css/styleAdmin.css" />
</head>
<body>
  <header>
    <h1>Visual de Usuarios</h1>
  </header>

  <main>
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Email</th>
          <th>Usuario</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Juan Pérez</td>
          <td>juan@example.com</td>
          <td>juanp</td>
          <td>
            <button>Editar</button>
            <button>Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </main>

  <script src="/js/user-sidebar.js"></script>
</body>
</html>
